<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAT2MATH v2 - Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .body {
      height: 100vh;
    }
    .navbar-custom {
      background-color: #141414;
      color: #fff!important;
      border-radius: 0;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: #fff!important;
    }
    .hero-section {
      background: url('/images/backgroundP2M.jpg') no-repeat center center;
      background-size: cover;
      height: 100vh;
      color: white;
    }
    .hero-overlay {
      background-color: rgba(117, 78, 207, 0.25);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .hero-overlay h1{
      text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.7);
    }
    
    .hero-overlay p {
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    }

    .hero-text {
      padding: 20px;
      border-radius: 10px;
    }
    .btn-custom {
      background-color: #8C64ED;
      border: none;
    }
    .btn-primary {
      background-color: #8C64ED;
      border-color: #8C64ED;
      color: #fff!important;
      border-radius: 20px;
    }
    .btn-primary:hover {
      background-color: #6f42c1;
      border-color: #6f42c1;
    }
    .btn-link {
      color: #fff;
    }
    .btn-link:hover {
      color: #d3d3d3;
    }
    .navbar-custom {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
    .content {
      margin-top: 56px; /* Height of the navbar */
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" style="background-color:#010203;">
    <a class="navbar-brand" href="/">PAT2MATH v2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Hub de Aprendizado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Para Estudantes e Pais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Para Escolas e Associações</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-light btn-custom" href="/api/auth/register">Registrar</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="hero-section">
    <div class="hero-overlay content">
      <div class="hero-text text-center">
        <h1 class="display-2"><b>PAT2MATH v2</b></h1>
        <h1 class="display-4">A nova forma de excelência em matemática</h1>
        <p class="lead">Uma plataforma interativa com um ambiente de aprendizado inclusivo</p>
        <a href="/api/auth/login" class="btn btn-primary btn-lg">Começar</a>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
