<!DOCTYPE html>
<html>
<head>
    <title>SiA + PAT2MATH</title>
</head>
<body>
    <h1>Bem-vindo ao SiA - Sistema de Autoria em Matemática</h1>
    <h2>Crie e resolva exercícios matemáticos com PAT2MATH </h2>
    <p><a href="/login">Login</a></p>
</body>
</html>
