<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar - PAT2MATH</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .register-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f8f9fa;
    }
    .register-box {
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 500px;
      width: 100%;
      text-align: center;
      overflow: hidden;
      padding: 20px; /* Adicionando padding ao redor do card */
    }
    .register-box img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 20px 20px 0 0; /* Cantos arredondados no topo */
    }
    .register-box h2 {
      margin: 20px 0;
      font-weight: 300;
    }
    .register-box .form-control {
      border-radius: 20px;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px; /* Adicionando padding horizontal aos inputs */
    }
    .register-box .btn {
      border-radius: 20px;

    }
    .register-box a {
      display: block;
      margin-top: 10px;
    }
    .btn-custom {
      background-color: #8C64ED;
      border: none;
    }
    .btn-primary {
      background-color: #8C64ED;
      border-color: #8C64ED;
      color: #fff!important;
      border-radius: 20px;
    }
    .btn-primary:hover {
      background-color: #6f42c1;
      border-color: #6f42c1;
    }
    .btn-link {
      color: #fff;
    }
    .btn-link:hover {
      color: #d3d3d3;
    }
  </style>
</head>
<body>
  <div class="register-container">
    <div class="register-box">
      <img src="/images/banner02.jpg" alt="PAT2MATH Logo">
      <h2>Registre-se no PAT2MATH</h2>
      <form action="/api/auth/register" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" id="name" name="name" placeholder="Nome" required>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
        </div>
        <div class="form-group">
          <select class="form-control" id="role" name="role" required>
            <option value="" disabled selected>Tipo de Usuário</option>
            <option value="student">Estudante</option>
            <option value="teacher">Professor</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        <a href="/api/auth/login" class="btn btn-primary">Já tem uma conta? Faça login</a>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
